:root{
  --clr-primary-white: rgb(255,255,255);
  --clr-primary-black: rgb(0,0,0);
  --clr-black2: #484848;
  --clr-dark-blue: #204080;
  --clr-blue: #4F75C2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 10px;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  display: flex;
  flex-direction: column;
  margin-top: 8em;
  width: 32em;
  height: 15.2em;
}

img {
  align-self: flex-start;
}

.search-web-app {
  padding: 10px 0px 10px 10px;
  align-self: flex-end;
  font-style: normal;
  font-weight: bold;
  font-size: 1.4em;
  color: var(--clr-black2);
}

.search-section input {
 width: 50em;
 height: 2.7em;
 margin-top: 2em;
 text-align: center;
 border: 1px solid var(--clr-black2);
 border-radius: 8px;
 font-size: 1.8em;
 font-style: normal;
 font-weight: bold;
}

.search-section input:hover{
  background-color: rgba(100, 100, 100, 0.08);
}

.search-button{
  width: 10em;
  height: 2.7em;
  background-color: var(  --clr-dark-blue);
  color: var(--clr-primary-white);
  margin-left: 1em;
  border-radius: 8px;
  font-size: 1.8em;
  font-style: normal;
  font-weight: bold;
  border: none;
}

a {
  text-decoration: none;
  color: var( --clr-primary-black);
}

.search-web-app{
  /* Search web app */
/*
position: absolute;
width: 220px;
height: 20px;
left: 653px;
top: 262px;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;

color: #484848; */
}

footer {
  position: fixed;
  width: 100vw;
  bottom: 0;
  border-top: 2px solid;
  text-align: center;
  font-size: 1.5em;
  padding: 20px;
  background-color: #eee;
  color: var(--clr-black2);
}
